/* debug css */
/* *,
*::before,
*::after {
    outline: 1px solid red;
} */

@import "tailwindcss";

@font-face {
    font-family: 'Oswald';
    font-display: swap;
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    font-style: normal;
    src: url('/font/oswald.woff2') format('woff2');
    font-stretch: normal;
    font-variant: normal;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: Oswald;
    text-transform: uppercase;
}


body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #ff7300;
    --sb-size: 4px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}