@import "tailwindcss";

/* css reset */
/* *,
*::before,
*::after {
    outline: 1px solid red;
} */

@font-face {
    font-family: "Roboto";
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-display: swap;
    src: url("/font/roboto.woff2") format("woff2");
}

@font-face {
    font-family: "Oswald";
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-display: swap;
    src: url("/font/oswald.woff2") format("woff2");
}

body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #ff7300;
    --sb-size: 4px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

html {
    scroll-behavior: smooth;
    /* smooth-scroll: true; */
}

.btn::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: -999;
    transition: all 0.5s;
    background: #000;
}

.btn:hover::after {
    top: 0;
}